body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: black;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}

body, a, a:visited {
  color: darkgrey;
}

a:hover {
  color: white;
}

header {
  color: white;
  margin: 0 1em;
}

nav {
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  background-color: darkslategrey;
}

main {
  margin: 1em;
}

footer {
  margin: 1em;
}
