extends base

block links
  link(rel="stylesheet", href="/game.css")

block scripts
  script(type="module").
    import GameClient from "/games/#{id}.js";
    const WEBSOCKET_URL = location.origin.replace(/^http/, "ws");
    window.addEventListener("load", () => new GameClient({ url: WEBSOCKET_URL }));

block body

  div.hide.dialog#message
    div#message-text
    div#message-actions
      a#message-okay(href="#") okay

  div.hide.dialog#loading
    div#loading-text
    div#loading-spinner

block nav
  a(href=`/games/${id}/`) new game

block main
  div#container
