extends layout.pug

block links
  link(rel="stylesheet", href="/game.css")

block scripts
  script(defer, src="/game.js")

block body
  div.overlay

    div.hide.dialog#message
      div#message-text
      div#message-actions
        a#message-okay(href="#") okay

    div.hide.dialog#loading
      div#loading-text
      div#loading-spinner

block nav
  a(href="/game") new game
  a(href="/") exit

block main
  div#game
    each row in [0, 1, 2]
      each col in [0, 1, 2]
        div.cell(id=`cell-${row}${col}`)
