extends base

block links
  link(rel="stylesheet", href="/game.css")

block scripts
  script(type="module", src=`/games/${id}.js`)

block body

  div.hide.dialog#message
    div#message-text
    div#message-actions
      a#message-okay(href="#") okay

  div.hide.dialog#loading
    div#loading-text
    div#loading-spinner

block main
  div#container

block footer
  a(href=`/games/${id}/`) new game
