doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/main.css")
    block links
    block scripts
  body
    block body
    header
      h1= title
    nav
      block nav
    main#main
      block main
    footer
      a(href=homepage) source code
