extends ../game

block body
  div.overlay

    div.hide.dialog#message
      div#message-text
      div#message-actions
        a#message-okay(href="#") okay

    div.hide.dialog#loading
      div#loading-text
      div#loading-spinner

block main
  div#game
    each row in [0, 1, 2]
      each col in [0, 1, 2]
        div.cell(id=`cell-${row}${col}`)
