.overlay {
  top: 40%;
  width: 100%;
  position: absolute;
  display: grid;
  justify-items: center;
}

.dialog {
  padding: 1em;
  border: 10px solid white;
  color: white;
  background-color: darkblue;
  border-radius: 0.2em;
  box-shadow: 0 0 1em 0 rgba(255,255,255,1);
}

#loading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#loading-spinner {
  font-size: 2em;
  margin-left: 0.5em;
}

#message-actions {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 3em;
  background-color: grey;
  padding: 0.1em;
}

.hide {
  display: none !important;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid darkgrey;
  color: white;
  background-color: black;
}

.highlight {
  background-color: red;
}

.playable:hover {
  cursor: pointer;
  background-color: indigo;
}
