main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 40%;
  width: 100%;
  display: grid;
  justify-items: center;
}

.dialog {
  padding: 1em;
  border: 10px solid white;
  color: white;
  background-color: darkblue;
  border-radius: 0.2em;
  box-shadow: 0 0 1em 0 rgba(255,255,255,1);
}

#loading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#loading-spinner {
  font-size: 2em;
  margin-left: 0.5em;
}

#message-actions {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

#game {
  padding: 0.1em;
  font-size: 4em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.hide {
  display: none !important;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 0 0.2em 0.2em 0.2em;
  border: 5px solid darkgrey;
}

.highlight-win {
  background-color: darkgreen;
}

.highlight-lose {
  background-color: darkred;
}

.empty {
  color: black;
}

.playable:hover {
  cursor: pointer;
  color: white;
  background-color: indigo;
}

#cell-00, #cell-01, #cell-02 {
  border-top: 0;
}

#cell-20, #cell-21, #cell-22 {
  border-bottom: 0;
}

#cell-00, #cell-10, #cell-20 {
  border-left: 0;
}

#cell-02, #cell-12, #cell-22 {
  border-right: 0;
}

